apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: config-home-assistant
  namespace: home-assistant
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 2Gi
  storageClassName: proxmox-csi