apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: config-matter-server
  namespace: home-assistant
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 1Gi
  storageClassName: proxmox-csi